<div class="pagina">
    <div class="video" *ngIf="!!activeVideoId">
        <!-- <iframe [src]="('https://www.youtube.com/embed/' + activeVideoId) | safe: 'resourceUrl'">
        </iframe> -->
        <youtube-player #player [videoId]="activeVideoId" [height]="vidHeight" [width]="vidWidth" (stateChange)="stateChanges($event)">

        </youtube-player>
    </div>
    <div class="playlist">
        <div class="playlist-menu">
            <i (click)="playAndPause()"class="fas" [ngClass]="isPaused ? 'fa-play' : 'fa-pause'"></i>
            <i (click)="shuffle()" class="fas fa-random"></i>
            <i (click)="prev()" class="fas fa-backward" [class.disabled]="!activeVideoIndex"></i>
            <i (click)="next()"class="fas fa-forward" [class.disabled]="activeVideoIndex === items.length"></i>
        </div>
        <div class="items">
            <div *ngFor="let item of items; let i = index" class="video-card" [class.active]="i === activeVideoIndex" (click)="selectVideo(i)">
                <img [src]="item.snippet.thumbnails.medium.url" alt="pic">
                <h2>{{item.snippet.title}}</h2>
            </div>
        </div>
    </div>
</div>