<div class="pagina">
    <div id="searchbar" class="info">
        <h1>
            Youtube playlist randomizer
        </h1>
        <div class="form">
            <p>Ouça suas playlists sem repetir videos no modo aleatório!</p>
            <div>
                <input placeholder="Nome ou ID da playlist" [formControl]="form" type="text" (keyup.enter)="search()">
                <button (click)="search()">Pesquisar</button>
            </div>
        </div>
    </div>
    <div class="playlists">
        <div *ngFor="let playlist of playlistsFound" class="playlist-card"
            (click)="openPlaylist(playlist.id.playlistId)">
            <img [src]="playlist.snippet.thumbnails.medium.url" alt="pic">
            <h3>{{playlist.snippet.title}}</h3>
        </div>
    </div>
    <div class="pagination">
        <div>
            <button *ngIf="prevPageToken" (click)="changePage(this.prevPageToken)">
                <i class="fas fa-angle-left mr-4"></i>
                <h2>Página anterior</h2>
            </button>
        </div>
        <div>
            <button *ngIf="nextPageToken" (click)="changePage(this.nextPageToken)">
                <h2>Próxima página</h2>
                <i class="fas fa-angle-right ml-4"></i>
            </button>
        </div>
    </div>
</div>